{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Homepage</h1>
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    <!-- Article Card -->
                    <div class="card mb-4">
                        <img src="{{ asset('uploads/images/default.jpg') }}" class="card-img-top" alt="{{ article.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.content|slice(0, 100) ~ '...' }}</p>
                            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Newsletter Signup Form -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Inscrivez-vous à la newsletter</h5>
                        <!-- Newsletter Form -->
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Votre adresse email">
                            </div>
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Call to Action -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Découvrez tous nos articles</h5>
                        <a href="{{ path('article_index') }}" class="btn btn-primary">Voir tous les articles</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Premium Membership Call to Action -->
        <div class="shadow-lg rounded-md p-4 md:p-6 mb-4 flex flex-col border relative">
            {% if is_granted('ROLE_USER') %}
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-xl font-semibold">Vous êtes déjà membre premium !</h2>
                <a href="{{ path('app_logout') }}" class="text-blue-500 hover:text-blue-700">Se déconnecter</a>
            </div>
            {% else %}
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-xl font-semibold">Devenir membre premium</h2>
                <a href="{{ path('app_login') }}" class="text-blue-500 hover:text-blue-700">Se connecter</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}